* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

@font-face {
  font-family: Benguiat;
  src: url("./assets/Benguiat Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
}
html,
body {
  overflow-x: hidden !important;
}
body {
  background-color: #0c0102;
  color: rgba(255, 255, 255, 0.9);
  font-family: Poppins, sans-serif;
}

header {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 4vw;
  z-index: 9;
}

section {
  width: 100%;
  display: flex;
  padding: 7vw;
}

button {
  background-color: transparent;
  color: white;
  font-size: 1vw;
  display: flex;
  gap: 16px;
  border: none;
  outline: none;
  padding: 16px 0;
  border-bottom: 1px solid white;
  cursor: pointer;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

/* PRELOADER */
#preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #0c0102;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  top: 0;
  left: 0;

  svg {
    width: 30vw;
    height: auto;
  }

  path {
    fill: rgba(154, 0, 0, 0.409);
    stroke: rgb(154, 0, 0);
    stroke-width: 3px;
    stroke-dasharray: 2100px;
    stroke-dashoffset: 2100px;
  }
}

.two-section-bg {
  background-image: url("/assets/city-bg.webp");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 3;
  background-color: #0c0102;
}

.hero-section {
  background-position: 50% 0%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 7vw 7vw 7vw;
  position: relative;

  picture {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  .left-text-hero,
  .right-text-hero {
    width: 30%;
    z-index: 3;
  }

  .left-text-hero {
    h1 {
      font-family: Benguiat, sans-serif;
      font-size: 3.8vw;
      line-height: 1.2;
      text-align: center;
    }
    h3 {
      font-size: 2vw;
      font-weight: 500;
      letter-spacing: 0.3em;
      text-align: center;
    }
  }

  .right-text-hero {
    display: flex;
    flex-direction: column;
    align-items: end;
    p {
      font-size: 2vw;
      line-height: 1.5;
      margin-bottom: 32px;
      text-align: end;
    }
  }
}

.hero-section:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(12, 1, 2, 0) 0%, #0c0102 100%);
  z-index: 3;
  left: 0;
  top: 0;
}

.choose-city-section {
  flex-direction: column;
  position: relative;
  z-index: 2;

  .choose-your-city-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 40px;
      font-weight: 500;
    }
  }
  .city-cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 60px;

    .card {
      background-image: url("/assets/sydney.webp");
      width: 32%;
      aspect-ratio: 16/9;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: end;
      justify-content: space-between;
      padding: 16px;
    }
    .card:nth-child(2) {
      background-image: url("/assets/mexico-city.webp");
    }
    .card:nth-child(3) {
      background-image: url("/assets/yas-island.webp");
    }
  }
}

.testimonials-section {
  flex-direction: column;

  .testimonials-logos {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-bottom: 40px;
  }

  .testimonials-wrapper {
    display: flex;
    gap: 3%;
    margin-top: 90px;
  }
}

.thanks-city-section {
  align-items: center;
  flex-direction: column;
  gap: 40px;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("assets/footer-bg.webp");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;

  .footer-content {
    width: 100%;
    display: flex;
    padding: 7vw;
    justify-content: space-between;
  }

  .logo-footer {
    width: 30%;
    h2 {
      font-family: Benguiat, sans-serif;
      font-size: 3.8vw;
      line-height: 1.2;
      text-align: center;
    }
    h3 {
      font-size: 2vw;
      font-weight: 500;
      letter-spacing: 0.3em;
      text-align: center;
    }
  }

  .footer-links {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 8%;

    h3 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 12px;
    }

    .socials {
      ul {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .footer-logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
  }

  .footer-loop-text {
    width: max-content;
    display: flex;
    h3 {
      color: rgb(160, 160, 160);
      font-size: 14vw;
      font-family: Benguiat, sans-serif;
      mix-blend-mode: color-dodge;
      animation: loopText 16s linear infinite;
      padding-left: 8vw;
    }
  }
}

@keyframes loopText {
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 600px) {
  section {
    padding: 4vw;
  }
  h2 {
    font-size: 6vw;
  }
  header {
    display: flex;
    flex-direction: row;
    h2 {
      font-size: 24px;
    }
  }

  .hero-section {
    flex-direction: column;
    padding: 30% 4vw 0;
    .left-text-hero,
    .right-text-hero {
      width: 100%;
      height: 40%;
    }
  }
  .hero-section {
    .left-text-hero {
      h1 {
        font-size: 10vw;
      }
      h3 {
        font-size: 3vw;
      }
    }

    .right-text-hero {
      padding: 20vw 0;
      align-items: center;

      button {
        font-size: 3vw;
        padding: 2vw 0;
        cursor: pointer;
      }
      p {
        font-size: 4vw;
        text-align: center;
      }
    }
  }

  .choose-city-section {
    padding-top: 80px;
    button {
      display: none;
    }
    .choose-your-city-title h2 {
      font-size: 6vw;
    }
    .city-cards {
      flex-direction: column;
      gap: 24px;
      .card {
        width: 100%;
      }
    }
  }
  .testimonials-section {
    .testimonials-logos {
      img:nth-child(1),
      img:nth-child(3) {
        width: 20%;
      }
      img:nth-child(2) {
        width: 30%;
      }
    }
    .testimonials-wrapper {
      flex-direction: column;
      gap: 40px;
    }
  }

  .thanks-city-section {
    margin: 40px 0px 60px;
    h2 {
      font-size: 6vw;
      text-align: center;
    }
    ul {
      width: 100%;
      gap: 16px;
      flex-wrap: wrap;
    }
  }

  footer {
    padding-top: 40px;
    .footer-content {
      padding: 4vw;
      flex-direction: column;
    }
    .logo-footer {
      width: 100%;
      margin-bottom: 32px;
      h2 {
        font-size: 10vw;
      }
      h3 {
        font-size: 4vw;
      }
    }
    .footer-links {
      flex-wrap: wrap;
      justify-content: center;
      align-items: start;

      .socials {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 18px;

        ul {
          display: flex;
          justify-content: center;
          gap: 8px;
        }
      }
      .footer-nav {
        width: 40%;
      }
      .media-partner {
        width: 40%;
        img {
          width: 100%;
        }
      }
    }
    .footer-logo {
      margin-top: 36px;
    }
    .footer-loop-text {
      h3 {
        font-size: 20vw;
      }
    }
  }
}
